@font-face {
    font-family: 'Nunito light';
    src: url(/assests/font/nunito/Nunito-Light.ttf);
}

@font-face {
    font-family: 'Nunito medium';
    src: url(/assests/font/nunito/Nunito-Medium.ttf);
}

@font-face {
    font-family: 'Nunito bold';
    src: url(/assests/font/nunito/Nunito-Bold.ttf);
}