/* font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

/* general styles */
body {
    margin: 0;
    background: #d9d9d9f9;
    transition: 0.3s linear all;
}

* {
    font-family: 'Nunito', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

@media screen and (min-width:1000px) {
    .container {
        width: 1000px;
    }

}

/* title */
h1 {
    width: fit-content;
}

/* the box for typing */
#text-area {
    position: relative;
    display: block;
    outline: none;
    resize: none;
    width: 80%;
    font-size: 18px;
    padding: 5px;
    border: 5px solid #828282;
    border-radius: 5px;
    background-color: transparent;
}

/* the color template div */
#color-template {
    border: 5px solid#828282;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.colors {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.colors:nth-child(1) {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #828282;
    background-color: #828282;
    transition: 0.2s;

}

.colors:nth-child(2) {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #2f572f;
    background-color: #2f572f;
    transition: 0.2s;

}

.colors:nth-child(3) {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #F96666;
    background-color: #F96666;
    transition: 0.2s;

}

.colors:nth-child(4) {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #848413;
    background-color: #848413;
    transition: 0.2s;

}

.colors:nth-child(5) {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #5C2E7E;
    background-color: #5C2E7E;
    transition: 0.2s;

}

.colors:nth-child(6) {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #182747;
    background-color: #182747;
    transition: 0.2s;

}

.colors:nth-child(7) {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #4C0033;
    background-color: #4C0033;
    transition: 0.2s;

}



.colors:active {
    transform: scale(0.8);
}

/* shows the counted words */
#counts,
#counted-words {
    vertical-align: middle;
    font-size: 20px;
}

#counts {
    font-size: 20px;
}

/* default template for colors */
.new-colors {
    color: #828282;
    text-shadow: 0.5px 0.5px 1px black;
}

/* responsive */
@media screen and (max-width:500px) {
    #color-template .colors {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width:400px) {

    h1 {
        font-size: 25px;
    }

}

@media screen and (max-width:360px) {
    #color-template .colors {
        width: 25px;
        height: 25px;
    }

    #text-area::placeholder,
    #text-area {
        font-size: 15px;

    }
}